/* Variables and mixins declared here will be available in all other SCSS files */

/* Variables and mixins declared here will be available in all other SCSS files */

:root {
  --default: #ddd;
  --exclude: #888;
  --include: #ed2;
  --correct: #3d1;
  --border-color: #444;
}
